.fondo{
	background-color: #323A53;
}
.logo{
	width: 90%;
	margin-top: 20%;
}
#logoNav{
	width: 30%;
	margin-top: 3%;
}
nav{
	background-color: #323A53;
}
.btn .btn-large{
	background-color: #323A53;
}
